---
import BaseHead from './BaseHead.astro'
import Header from './Header.svelte'
import Footer from './Footer.astro'

export interface IProps {
  title?: string
  description?: string
  permalink?: string
  canonicalURL?: string
  lang?: string
  headerCta?: string
  headerUrl?: string
}

const {
  title,
  description,
  permalink,
  canonicalURL,
  lang,
  headerCta,
  headerUrl,
} = Astro.props
---

<html {lang}>
  <head>
    <BaseHead {title} {description} {permalink} {canonicalURL} />
  </head>
  <body>
    <Header cta={headerCta} url={headerUrl} client:load />
    <main>
      <slot />
    </main>
    <Footer {lang} />
  </body>
</html>
