---
import BaseHead from './BaseHead.astro';
import Header from '../Header.svelte';
import Footer from '../Footer.astro';

export interface IProps {
  title?: string;
  description?: string;
  permalink?: string;
  canonicalURL?: string;
  lang?: string;
}

const { title, description, permalink, canonicalURL, lang } = Astro.props;
---
<html lang={lang}>
  <head>
    <BaseHead 
      title={title} 
      description={description} 
      permalink={permalink} 
      canonicalURL={canonicalURL} 
    />
  </head>
  <body>
    <Header client:load />
      <main>
          <slot/>
      </main>
    <Footer/>
  </body>
</html>