---
import Testimonial from '../cards/Testimonial.astro'

const { slice } = Astro.props
---

<section>
  {slice?.map(({ testimonial: { data } }) => (
    <Testimonial
      variant={data.variant}
      client={data.client}
      role={data.role}
      project={{
        name: data.project_name,
        url: `/projects/${data.project_link?.id}`
      }}
      avatar={{
        url: data.avatar.url,
        alt: data.avatar.alt
      }}
      testimonial={data.testimonial}
    />
  ))}
</section>

<style lang="scss">
  section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3rem;
    
    --section-margin-bottom: clamp(6.4rem, 3.7000rem + 7.5000vw, 10rem)
    margin-bottom: var(--section-margin-bottom);
    padding-block: 128px;

    width: calc(100% + (var(--body-padding) * 2));
    margin-left: calc(var(--body-padding) * -1);

    padding: 0 clamp(2.1rem, 0.1986rem + 9.5070vw, 7.5rem);

    @media screen and (min-width: 768px) {
      padding: 0 clamp(7.5rem, -22.6333rem + 39.2361vw, 52.7rem);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 41.8rem);
    }
  }
</style>